[submodule "WildClawBench"]
	url = https://github.com/WalteR-MittY-pro/WildClawBench.git
	path = WildClawBench
[submodule "skillsbench"]
	url = https://github.com/WalteR-MittY-pro/skillsbench.git
	path = skillsbench
